.player{
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  :global{
    audio{
      height: 0;
      width: 0;
      overflow: hidden;
    }

    .ant-btn{
      margin: 0px 10px;
    }

    .prppress{
      flex-grow: 1;
      margin: 0px 10px;
      .anticon{
        margin-right: 4px;
      }

    }

    .sound{
      width: 120px;
      position: relative;
      padding-left: 25px;

      .anticon {
        position: absolute;
        top: 50%;
        margin-top: -6px;
        left: 0px;
        width: 16px;
        height: 16px;
        line-height: 1;
        font-size: 16px;
      }

    }
  }
}
