<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"
    />
    <title>Fa-Forever</title>
  </head>

  <body>
    <div id="root"></div>
    <div style="display:none">
      <script type="text/javascript">
        var cnzz_protocol =
          "https:" == document.location.protocol ? "https://" : "http://";
        document.write(
          unescape(
            "%3Cspan id='cnzz_stat_icon_1276148729'%3E%3C/span%3E%3Cscript src='" +
              cnzz_protocol +
              "s96.cnzz.com/z_stat.php%3Fid%3D1276148729' type='text/javascript'%3E%3C/script%3E"
          )
        );
      </script>
    </div>
  </body>
</html>
